<div class="ui three column center aligned padded stackable grid container">
  <div class="ui compact padded raised segment grid">
    Weapons
    <div *ngFor="let slot of character.weapons" class="row">
      <app-slot [slot]="slot">{{slot.name}}</app-slot>
    </div>
  </div>
  <div class="ui compact padded raised segment grid">
    Armor
    <div *ngFor="let slot of character.armor" class="row">
      <app-slot [slot]="slot">{{slot.name}}</app-slot>
    </div>
  </div>
  <div class="ui compact padded raised segment grid">
    <div class="row">
      {{character.power}} Power
    </div>
    <div class="row">
      {{character.missingPower}} missing
    </div>
  </div>
</div>
