<div class="ui three column center aligned padded stackable grid container">
  <div class="center aligned three wide column">
    <div *ngFor="let slotIn of character.weapons" class="ui padded row">
      <app-slot [slot]="slotIn">{{slotIn.name}}</app-slot>
    </div>
  </div>
  <div class="center aligned three wide column">
    <div class="padded row">
      {{character.power}} Power
    </div>
    <div class="padded row">
      {{character.missingPower}} missing
    </div>
  </div>
  <div class="center aligned three wide column">
    <div *ngFor="let slot of character.armor" class="ui padded row">
      <app-slot [slot]="slot">{{slot.name}}</app-slot>
    </div>
  </div>
</div>
